<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.copartner.mapper.ProLeassonTaskMapper">
  <resultMap id="BaseResultMap" type="com.shu.copartner.pojo.ProLeassonTask">
    <id column="course_task_id" jdbcType="BIGINT" property="courseTaskId" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="course_task_content" jdbcType="VARCHAR" property="courseTaskContent" />
    <result column="publish_date" jdbcType="TIMESTAMP" property="publishDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="delete_date" jdbcType="TIMESTAMP" property="deleteDate" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="course_task_url" jdbcType="VARCHAR" property="courseTaskUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    course_task_id, course_id, course_name, course_task_content, publish_date, update_date, 
    delete_date, is_deleted, course_task_url
  </sql>
  <select id="selectByExample" parameterType="com.shu.copartner.pojo.ProLeassonTaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PRO_LEASSON_TASK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PRO_LEASSON_TASK
    where course_task_id = #{courseTaskId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PRO_LEASSON_TASK
    where course_task_id = #{courseTaskId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shu.copartner.pojo.ProLeassonTaskExample">
    delete from PRO_LEASSON_TASK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shu.copartner.pojo.ProLeassonTask">
    insert into PRO_LEASSON_TASK (course_task_id, course_id, course_name, 
      course_task_content, publish_date, update_date, 
      delete_date, is_deleted, course_task_url
      )
    values (#{courseTaskId,jdbcType=BIGINT}, #{courseId,jdbcType=BIGINT}, #{courseName,jdbcType=VARCHAR}, 
      #{courseTaskContent,jdbcType=VARCHAR}, #{publishDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{deleteDate,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=INTEGER}, #{courseTaskUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shu.copartner.pojo.ProLeassonTask">
    insert into PRO_LEASSON_TASK
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseTaskId != null">
        course_task_id,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="courseTaskContent != null">
        course_task_content,
      </if>
      <if test="publishDate != null">
        publish_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="deleteDate != null">
        delete_date,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="courseTaskUrl != null">
        course_task_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseTaskId != null">
        #{courseTaskId,jdbcType=BIGINT},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseTaskContent != null">
        #{courseTaskContent,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null">
        #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteDate != null">
        #{deleteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="courseTaskUrl != null">
        #{courseTaskUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shu.copartner.pojo.ProLeassonTaskExample" resultType="java.lang.Long">
    select count(*) from PRO_LEASSON_TASK
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PRO_LEASSON_TASK
    <set>
      <if test="record.courseTaskId != null">
        course_task_id = #{record.courseTaskId,jdbcType=BIGINT},
      </if>
      <if test="record.courseId != null">
        course_id = #{record.courseId,jdbcType=BIGINT},
      </if>
      <if test="record.courseName != null">
        course_name = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseTaskContent != null">
        course_task_content = #{record.courseTaskContent,jdbcType=VARCHAR},
      </if>
      <if test="record.publishDate != null">
        publish_date = #{record.publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteDate != null">
        delete_date = #{record.deleteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      </if>
      <if test="record.courseTaskUrl != null">
        course_task_url = #{record.courseTaskUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PRO_LEASSON_TASK
    set course_task_id = #{record.courseTaskId,jdbcType=BIGINT},
      course_id = #{record.courseId,jdbcType=BIGINT},
      course_name = #{record.courseName,jdbcType=VARCHAR},
      course_task_content = #{record.courseTaskContent,jdbcType=VARCHAR},
      publish_date = #{record.publishDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      delete_date = #{record.deleteDate,jdbcType=TIMESTAMP},
      is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      course_task_url = #{record.courseTaskUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.copartner.pojo.ProLeassonTask">
    update PRO_LEASSON_TASK
    <set>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseTaskContent != null">
        course_task_content = #{courseTaskContent,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null">
        publish_date = #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteDate != null">
        delete_date = #{deleteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="courseTaskUrl != null">
        course_task_url = #{courseTaskUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where course_task_id = #{courseTaskId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.copartner.pojo.ProLeassonTask">
    update PRO_LEASSON_TASK
    set course_id = #{courseId,jdbcType=BIGINT},
      course_name = #{courseName,jdbcType=VARCHAR},
      course_task_content = #{courseTaskContent,jdbcType=VARCHAR},
      publish_date = #{publishDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      delete_date = #{deleteDate,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      course_task_url = #{courseTaskUrl,jdbcType=VARCHAR}
    where course_task_id = #{courseTaskId,jdbcType=BIGINT}
  </update>
</mapper>