<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.copartner.mapper.ProNewsMapper">
  <resultMap id="BaseResultMap" type="com.shu.copartner.pojo.ProNews">
    <id column="news_id" jdbcType="BIGINT" property="newsId" />
    <result column="news_title" jdbcType="VARCHAR" property="newsTitle" />
    <result column="news_introduction" jdbcType="VARCHAR" property="newsIntroduction" />
    <result column="news_content" jdbcType="VARCHAR" property="newsContent" />
    <result column="news_author" jdbcType="VARCHAR" property="newsAuthor" />
    <result column="news_category" jdbcType="VARCHAR" property="newsCategory" />
    <result column="news_publisTime" jdbcType="TIMESTAMP" property="newsPublistime" />
    <result column="news_browseCount" jdbcType="INTEGER" property="newsBrowsecount" />
    <result column="isTopping" jdbcType="CHAR" property="istopping" />
    <result column="isDeleted" jdbcType="CHAR" property="isdeleted" />
    <result column="news_keywords" jdbcType="VARCHAR" property="newsKeywords" />
    <result column="isAudit" jdbcType="CHAR" property="isaudit" />
    <result column="news_advice" jdbcType="VARCHAR" property="newsAdvice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    news_id, news_title, news_introduction, news_content, news_author, news_category, 
    news_publisTime, news_browseCount, isTopping, isDeleted, news_keywords, isAudit, 
    news_advice
  </sql>
  <select id="selectByExample" parameterType="com.shu.copartner.pojo.ProNewsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PRO_NEWS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PRO_NEWS
    where news_id = #{newsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PRO_NEWS
    where news_id = #{newsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shu.copartner.pojo.ProNewsExample">
    delete from PRO_NEWS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shu.copartner.pojo.ProNews" keyProperty="newsId" useGeneratedKeys="true">
    insert into PRO_NEWS (news_id, news_title, news_introduction, 
      news_content, news_author, news_category, 
      news_publisTime, news_browseCount, isTopping, 
      isDeleted, news_keywords, isAudit, 
      news_advice)
    values (#{newsId,jdbcType=BIGINT}, #{newsTitle,jdbcType=VARCHAR}, #{newsIntroduction,jdbcType=VARCHAR}, 
      #{newsContent,jdbcType=VARCHAR}, #{newsAuthor,jdbcType=VARCHAR}, #{newsCategory,jdbcType=VARCHAR}, 
      #{newsPublistime,jdbcType=TIMESTAMP}, #{newsBrowsecount,jdbcType=INTEGER}, #{istopping,jdbcType=CHAR}, 
      #{isdeleted,jdbcType=CHAR}, #{newsKeywords,jdbcType=VARCHAR}, #{isaudit,jdbcType=CHAR}, 
      #{newsAdvice,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shu.copartner.pojo.ProNews">
    insert into PRO_NEWS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        news_id,
      </if>
      <if test="newsTitle != null">
        news_title,
      </if>
      <if test="newsIntroduction != null">
        news_introduction,
      </if>
      <if test="newsContent != null">
        news_content,
      </if>
      <if test="newsAuthor != null">
        news_author,
      </if>
      <if test="newsCategory != null">
        news_category,
      </if>
      <if test="newsPublistime != null">
        news_publisTime,
      </if>
      <if test="newsBrowsecount != null">
        news_browseCount,
      </if>
      <if test="istopping != null">
        isTopping,
      </if>
      <if test="isdeleted != null">
        isDeleted,
      </if>
      <if test="newsKeywords != null">
        news_keywords,
      </if>
      <if test="isaudit != null">
        isAudit,
      </if>
      <if test="newsAdvice != null">
        news_advice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        #{newsId,jdbcType=BIGINT},
      </if>
      <if test="newsTitle != null">
        #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsIntroduction != null">
        #{newsIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="newsContent != null">
        #{newsContent,jdbcType=VARCHAR},
      </if>
      <if test="newsAuthor != null">
        #{newsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="newsCategory != null">
        #{newsCategory,jdbcType=VARCHAR},
      </if>
      <if test="newsPublistime != null">
        #{newsPublistime,jdbcType=TIMESTAMP},
      </if>
      <if test="newsBrowsecount != null">
        #{newsBrowsecount,jdbcType=INTEGER},
      </if>
      <if test="istopping != null">
        #{istopping,jdbcType=CHAR},
      </if>
      <if test="isdeleted != null">
        #{isdeleted,jdbcType=CHAR},
      </if>
      <if test="newsKeywords != null">
        #{newsKeywords,jdbcType=VARCHAR},
      </if>
      <if test="isaudit != null">
        #{isaudit,jdbcType=CHAR},
      </if>
      <if test="newsAdvice != null">
        #{newsAdvice,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shu.copartner.pojo.ProNewsExample" resultType="java.lang.Long">
    select count(*) from PRO_NEWS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PRO_NEWS
    <set>
      <if test="record.newsId != null">
        news_id = #{record.newsId,jdbcType=BIGINT},
      </if>
      <if test="record.newsTitle != null">
        news_title = #{record.newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.newsIntroduction != null">
        news_introduction = #{record.newsIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.newsContent != null">
        news_content = #{record.newsContent,jdbcType=VARCHAR},
      </if>
      <if test="record.newsAuthor != null">
        news_author = #{record.newsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.newsCategory != null">
        news_category = #{record.newsCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.newsPublistime != null">
        news_publisTime = #{record.newsPublistime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.newsBrowsecount != null">
        news_browseCount = #{record.newsBrowsecount,jdbcType=INTEGER},
      </if>
      <if test="record.istopping != null">
        isTopping = #{record.istopping,jdbcType=CHAR},
      </if>
      <if test="record.isdeleted != null">
        isDeleted = #{record.isdeleted,jdbcType=CHAR},
      </if>
      <if test="record.newsKeywords != null">
        news_keywords = #{record.newsKeywords,jdbcType=VARCHAR},
      </if>
      <if test="record.isaudit != null">
        isAudit = #{record.isaudit,jdbcType=CHAR},
      </if>
      <if test="record.newsAdvice != null">
        news_advice = #{record.newsAdvice,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PRO_NEWS
    set news_id = #{record.newsId,jdbcType=BIGINT},
      news_title = #{record.newsTitle,jdbcType=VARCHAR},
      news_introduction = #{record.newsIntroduction,jdbcType=VARCHAR},
      news_content = #{record.newsContent,jdbcType=VARCHAR},
      news_author = #{record.newsAuthor,jdbcType=VARCHAR},
      news_category = #{record.newsCategory,jdbcType=VARCHAR},
      news_publisTime = #{record.newsPublistime,jdbcType=TIMESTAMP},
      news_browseCount = #{record.newsBrowsecount,jdbcType=INTEGER},
      isTopping = #{record.istopping,jdbcType=CHAR},
      isDeleted = #{record.isdeleted,jdbcType=CHAR},
      news_keywords = #{record.newsKeywords,jdbcType=VARCHAR},
      isAudit = #{record.isaudit,jdbcType=CHAR},
      news_advice = #{record.newsAdvice,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.copartner.pojo.ProNews">
    update PRO_NEWS
    <set>
      <if test="newsTitle != null">
        news_title = #{newsTitle,jdbcType=VARCHAR},
      </if>
      <if test="newsIntroduction != null">
        news_introduction = #{newsIntroduction,jdbcType=VARCHAR},
      </if>
      <if test="newsContent != null">
        news_content = #{newsContent,jdbcType=VARCHAR},
      </if>
      <if test="newsAuthor != null">
        news_author = #{newsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="newsCategory != null">
        news_category = #{newsCategory,jdbcType=VARCHAR},
      </if>
      <if test="newsPublistime != null">
        news_publisTime = #{newsPublistime,jdbcType=TIMESTAMP},
      </if>
      <if test="newsBrowsecount != null">
        news_browseCount = #{newsBrowsecount,jdbcType=INTEGER},
      </if>
      <if test="istopping != null">
        isTopping = #{istopping,jdbcType=CHAR},
      </if>
      <if test="isdeleted != null">
        isDeleted = #{isdeleted,jdbcType=CHAR},
      </if>
      <if test="newsKeywords != null">
        news_keywords = #{newsKeywords,jdbcType=VARCHAR},
      </if>
      <if test="isaudit != null">
        isAudit = #{isaudit,jdbcType=CHAR},
      </if>
      <if test="newsAdvice != null">
        news_advice = #{newsAdvice,jdbcType=VARCHAR},
      </if>
    </set>
    where news_id = #{newsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.copartner.pojo.ProNews">
    update PRO_NEWS
    set news_title = #{newsTitle,jdbcType=VARCHAR},
      news_introduction = #{newsIntroduction,jdbcType=VARCHAR},
      news_content = #{newsContent,jdbcType=VARCHAR},
      news_author = #{newsAuthor,jdbcType=VARCHAR},
      news_category = #{newsCategory,jdbcType=VARCHAR},
      news_publisTime = #{newsPublistime,jdbcType=TIMESTAMP},
      news_browseCount = #{newsBrowsecount,jdbcType=INTEGER},
      isTopping = #{istopping,jdbcType=CHAR},
      isDeleted = #{isdeleted,jdbcType=CHAR},
      news_keywords = #{newsKeywords,jdbcType=VARCHAR},
      isAudit = #{isaudit,jdbcType=CHAR},
      news_advice = #{newsAdvice,jdbcType=VARCHAR}
    where news_id = #{newsId,jdbcType=BIGINT}
  </update>
</mapper>