<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shu.copartner.mapper.ProProjectMapper">
  <resultMap id="BaseResultMap" type="com.shu.copartner.pojo.ProProject">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="followers" jdbcType="VARCHAR" property="followers" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="is_lock" jdbcType="INTEGER" property="isLock" />
    <result column="plan_url" jdbcType="VARCHAR" property="planUrl" />
    <result column="primaryjob" jdbcType="VARCHAR" property="primaryjob" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
    <result column="project_people" jdbcType="VARCHAR" property="projectPeople" />
    <result column="main_people" jdbcType="VARCHAR" property="mainPeople" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, creater, description, endtime, followers, is_deleted, is_lock, plan_url, primaryjob, 
    project_name, starttime, status, type, video_url, project_people, main_people
  </sql>
  <select id="selectByExample" parameterType="com.shu.copartner.pojo.ProProjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PRO_PROJECT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PRO_PROJECT
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from PRO_PROJECT
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shu.copartner.pojo.ProProjectExample">
    delete from PRO_PROJECT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shu.copartner.pojo.ProProject">
    insert into PRO_PROJECT (id, creater, description, 
      endtime, followers, is_deleted, 
      is_lock, plan_url, primaryjob, 
      project_name, starttime, status, 
      type, video_url, project_people, 
      main_people)
    values (#{id,jdbcType=BIGINT}, #{creater,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{endtime,jdbcType=TIMESTAMP}, #{followers,jdbcType=VARCHAR}, #{isDeleted,jdbcType=INTEGER}, 
      #{isLock,jdbcType=INTEGER}, #{planUrl,jdbcType=VARCHAR}, #{primaryjob,jdbcType=VARCHAR}, 
      #{projectName,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{videoUrl,jdbcType=VARCHAR}, #{projectPeople,jdbcType=VARCHAR}, 
      #{mainPeople,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shu.copartner.pojo.ProProject">
    insert into PRO_PROJECT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="followers != null">
        followers,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="isLock != null">
        is_lock,
      </if>
      <if test="planUrl != null">
        plan_url,
      </if>
      <if test="primaryjob != null">
        primaryjob,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
      <if test="projectPeople != null">
        project_people,
      </if>
      <if test="mainPeople != null">
        main_people,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="followers != null">
        #{followers,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="isLock != null">
        #{isLock,jdbcType=INTEGER},
      </if>
      <if test="planUrl != null">
        #{planUrl,jdbcType=VARCHAR},
      </if>
      <if test="primaryjob != null">
        #{primaryjob,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="projectPeople != null">
        #{projectPeople,jdbcType=VARCHAR},
      </if>
      <if test="mainPeople != null">
        #{mainPeople,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shu.copartner.pojo.ProProjectExample" resultType="java.lang.Long">
    select count(*) from PRO_PROJECT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PRO_PROJECT
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.creater != null">
        creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.endtime != null">
        endtime = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.followers != null">
        followers = #{record.followers,jdbcType=VARCHAR},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      </if>
      <if test="record.isLock != null">
        is_lock = #{record.isLock,jdbcType=INTEGER},
      </if>
      <if test="record.planUrl != null">
        plan_url = #{record.planUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.primaryjob != null">
        primaryjob = #{record.primaryjob,jdbcType=VARCHAR},
      </if>
      <if test="record.projectName != null">
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null">
        starttime = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.videoUrl != null">
        video_url = #{record.videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.projectPeople != null">
        project_people = #{record.projectPeople,jdbcType=VARCHAR},
      </if>
      <if test="record.mainPeople != null">
        main_people = #{record.mainPeople,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PRO_PROJECT
    set id = #{record.id,jdbcType=BIGINT},
      creater = #{record.creater,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      endtime = #{record.endtime,jdbcType=TIMESTAMP},
      followers = #{record.followers,jdbcType=VARCHAR},
      is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      is_lock = #{record.isLock,jdbcType=INTEGER},
      plan_url = #{record.planUrl,jdbcType=VARCHAR},
      primaryjob = #{record.primaryjob,jdbcType=VARCHAR},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      starttime = #{record.starttime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      video_url = #{record.videoUrl,jdbcType=VARCHAR},
      project_people = #{record.projectPeople,jdbcType=VARCHAR},
      main_people = #{record.mainPeople,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.copartner.pojo.ProProject">
    update PRO_PROJECT
    <set>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="followers != null">
        followers = #{followers,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="isLock != null">
        is_lock = #{isLock,jdbcType=INTEGER},
      </if>
      <if test="planUrl != null">
        plan_url = #{planUrl,jdbcType=VARCHAR},
      </if>
      <if test="primaryjob != null">
        primaryjob = #{primaryjob,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="projectPeople != null">
        project_people = #{projectPeople,jdbcType=VARCHAR},
      </if>
      <if test="mainPeople != null">
        main_people = #{mainPeople,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.copartner.pojo.ProProject">
    update PRO_PROJECT
    set creater = #{creater,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      followers = #{followers,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      is_lock = #{isLock,jdbcType=INTEGER},
      plan_url = #{planUrl,jdbcType=VARCHAR},
      primaryjob = #{primaryjob,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR},
      project_people = #{projectPeople,jdbcType=VARCHAR},
      main_people = #{mainPeople,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>