<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>新闻</title>
    <link href="/html/webui/css/searchJob.css" rel="stylesheet" type="text/css"/>
    <script src="/html/webui/js/vue.js"></script>
    <script src='/html/webui/header/header.js'></script>
</head>

<body>
<div class="jobnewsDiv" id="app" v-if="isLoad">
    <div class="part2">
        <div class="part2L" id="topNews">
            <div class="part4L_1">
                <div class="tit" style="border-bottom: 1px solid #e3e7ea; height:32px; font-size:14px;color: black">
                    <span>精彩上大</span>
                    <a href="#" @click="redirecTo('精彩上大')" style="float: right;color: #3364cb;font-size: 12px;">更多>></a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="newsbox" v-for="news in topNews" @click="toNew_content(news.newsId)">
                <div class="tit"><a href="#">{{news.newsTitle}}</a></div>
                <div class="con">{{news.newsContent}}…… <a
                        href="#">继续阅读>></a>
                </div>
            </div>
        </div>
        <div class="part2R">
            <img src="../images/img1.gif" width="430" height="163"/>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="part4">
        <div class="part4L">
            <div class="part4div" id="categories_News">
                <div class="part4L_1">
                    <div class="tit">
                        <span>社区热帖</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="part4L_2">
                    <div class="tit">
                        <span>人文社科</span>
                        <a href="#" @click="redirecTo('人文社科')" >更多>></a>
                    </div>
                    <div class="con" v-for="news in categoryNews[3]" @click="toNew_content(news.newsId)">
                        <span><img src="\html\webui\images\hot.png" style="width: 13px"/><a
                                href="#">{{news.newsTitle}}</a></span>
                    </div>
                </div>
                <div class="part4L_2">
                    <div class="tit">
                        <span>法律法规</span>
                        <a href="#" @click="redirecTo('法律法规')">更多>></a>
                    </div>
                    <div class="con" v-for="news in categoryNews[5]" @click="toNew_content(news.newsId)">
                        <span><img src="\html\webui\images\hot.png" style="width: 13px"/><a
                                href="#">{{news.newsTitle}}</a></span>
                    </div>
                </div>
                <div class="part4L_2">
                    <div class="tit">
                        <span>每周一文</span>
                        <a href="#" @click="redirecTo('每周一文')">更多>></a>
                    </div>
                    <div class="con" v-for="news in categoryNews[1]" @click="toNew_content(news.newsId)">
                        <span><img src="\html\webui\images\hot.png" style="width: 13px"/><a
                                href="#">{{news.newsTitle}}</a></span>
                    </div>
                </div>

                <div class="part4L_2">
                    <div class="tit">
                        <span>活动咨询</span>
                        <a href="#" @click="redirecTo('活动咨询')">更多>></a>
                    </div>
                    <div class="con" v-for="news in categoryNews[4]" @click="toNew_content(news.newsId)">
                        <span><img src="\html\webui\images\hot.png" style="width: 13px"/><a
                                href="#">{{news.newsTitle}}</a></span>
                    </div>
                </div>
                <div class="part4L_2">
                    <div class="tit">
                        <span>精彩上大</span>
                        <a href="#" @click="redirecTo('精彩上大')">更多>></a>
                    </div>
                    <div class="con" v-for="news in categoryNews[0]" @click="toNew_content(news.newsId)">
                        <span><img src="\html\webui\images\hot.png" style="width: 13px"/><a
                                href="#">{{news.newsTitle}}</a></span>
                    </div>
                </div>
                <div class="part4L_2">
                    <div class="tit">
                        <span>项目风采</span>
                        <a href="#" @click="redirecTo('项目风采')">更多>></a>
                    </div>
                    <div class="con" v-for="news in categoryNews[2]" @click="toNew_content(news.newsId)">
                        <span><img src="\html\webui\images\hot.png" style="width: 13px"/><a
                                href="#">{{news.newsTitle}}</a></span>
                    </div>
                </div>


            </div>
            <div class="clear"></div>
        </div>
        <div class="part4R">
            <div class="hotguanzhuss">
                <div class="ss">
                    <input name="" type="text" id="keywords" class="txtname" placeholder="请输入关键词"/>
                    <input name="" type="button" @click="searchNew()" class="ssbtn" value="新闻搜索"/>
                </div>
                <div class="ss1">
                    <div class="ssbox ssbox1"><a href="#">创新创业</a></div>
                    <div class="ssbox ssbox2"><a href="#">简历</a></div>
                    <div class="ssbox ssbox3"><a href="#">课程</a></div>
                    <div class="ssbox ssbox4"><a href="#">上海大学</a></div>
                    <div class="ssbox ssbox5"><a href="#">导师</a></div>
                    <div class="ssbox ssbox6"><a href="#">招聘会</a></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="hotguanzhu">
                <div class="tit">热点帖子</div>
                <div class="con">
                    <div class="conl"></div>
                    <div class="conr" id="click_TimesNews">
                        <a href="#" v-for="news in clickNews" @click="toNew_content(news.newsId)">{{news.newsTitle}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入页脚页面-->
<div id="footer"></div>
</body>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                isLoad: false,
                topNews: [],
                clickNews: [],
                categoryNews: []
            };
        },
        created: function () {
            layer.load(1, {
                shade: [0.1, '#fff'] //0.1透明度的白色背景
            });
        },
        mounted: function () {
            this.initNewsIndex();

        },
        methods: {
            /**
             * 初始化新闻首页
             */
            initNewsIndex() {

                $.ajax({
                    type: "GET",
                    url: "/public/news/getNewsIndexCategoryInfo",
                    success: res => {
                        console.log(res.data);
                        this.categoryNews = res.data;
                        this.isLoad = true;
                        $("#footer").load("/html/webui/footer/footer.html");
                        layer.closeAll();
                    },
                    error: res => {
                        layer.msg('网络异常');
                    }
                });
                $.ajax({
                    type: "GET",
                    url: "/public/news/getNewsIndexInfo",
                    success: res => {
                        this.topNews = res.data.topNewsList;
                        this.clickNews = res.data.recently_NewsList;
                    },
                    error: res => {
                        layer.msg('网络异常');
                    }
                });
            },

            /**
             * 跳转到新闻内容页面
             */
            toNew_content(newId) {
                localStorage.setItem("newId", newId);
                window.location.href = "/html/webui/news/news_content.html";
            },

            /**
             * 跳转到新闻分类页
             */
            redirecTo(catagory) {
                if (catagory.length > 0) {
                    localStorage.setItem("news_catagory", catagory);
                } else {
                    localStorage.setItem("news_catagory", document.getElementById("news_category").innerText)
                }
                window.location.href = "/html/webui/news/news_catalog.html";
            },

            /**
             * 新闻搜索
             */
            searchNew() {
                var value = $("#keywords").val();
                if (value.length > 0) {
                    localStorage.setItem("news_catagory", "s_" + value);
                    window.location.href = "/html/webui/news/news_catalog.html";
                }
            }
        },
        watch: {
            'message'() {
            }
        },
    })

</script>
</html>
