<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Component Tests" verbose="2" annotations="JDK">
    <test name="news" preserve-order="true">

        <classes>
            <class name="com.news.NewsApplyTest"/>
<!--            <class name="com.news.NewsManagerTest"/>-->
<!--            <class name="com.news.NewsViewTest"/>-->
        </classes>
    </test>
</suite>