<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Component Tests" verbose="2" annotations="JDK">

    <test name="news" preserve-order="true">
        <!--        <classes>-->
        <!--            <class name="com.news.NewsApplyTest"/>-->
        <!--            <class name="com.news.NewsManagerTest"/>-->
        <!--            <class name="com.news.NewsViewTest"/>-->
        <!--        </classes>-->

        <!--        <classes>-->
        <!--            &lt;!&ndash;            <class name="com.leassons.LeassonManageApply"></class>&ndash;&gt;-->
        <!--            &lt;!&ndash;            <class name="com.leassons.LeassonVedioPptUpload"></class>&ndash;&gt;-->
        <!--        </classes>-->

        <classes>
            <class name="com.project.ProjectApplyTest"></class>
            <class name="com.project.ProjectManageTest"></class>
        </classes>
    </test>
</suite>